@font-face {
  font-family: 'Hashtag';
  src: url(/assets/Hashtag-c421593f6f2c3cb461aa9f3a3a97ea4dccb9dc9df0d5fd9cce7e1987077d47b8.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'staravenue';
  src: url(/assets/staravenue-20c01c85855868e99602bb2462cbd8a24ee47337b1a934738276c31a940da8b9.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sunshine';
  src: url(/assets/sunshine-16d7e702285c0ccf3cc824f844e63462ff95fcce3e4c7ca43202f7f7458c4c78.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iarnold';
  src: url(/assets/iarnold-89f2424b5193f3a45425bcd8e064ef7f9520c1c5ab7a200b98a34df2950ded2c.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Back to Black';
  src: url(/assets/Back_to_Black-6f5aafa45c56d2b4827b7ea8626f080b92f4f71ce069678a3737d3c2b2111b4a.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'a little sunshine';
  src: url(/assets/A_little_sunshine-9ba67713f2f8a0e5213ef19663c69c8c80cc6f8627e8ac74d07fff2b563adeef.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'espresso';
  src: url(/assets/espresso-5cd031c19138f9945c6b51e907a96b918c7f5a4d65dfca1329455e681dabf541.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dom';
  src: url(/assets/Dominique-28c92f97de9d68e5ac4adb1a7a1636b53111a988f39a16d44eada18f7cd811b6.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'doodlegum';
  src: url(/assets/doodle_gum-70ffe4833c5ad705787a98517ff1ac5464a5b3a44ec07e100ca4d886fc6b7a76.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 70, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
textarea:focus, input:focus {
  outline: none;
}

/* line 74, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
html, body {
  height: 100%;
}

/* line 79, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
h1 {
  margin-top: 0;
  font-family: 'staravenue';
  font-size: 5vw;
  letter-spacing: 10px;
  margin-bottom: 0;
}

/* line 87, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
p {
  font-family: 'Hashtag';
  font-size: 35px;
}

/* line 92, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
}

/* line 99, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
progress[value]::-webkit-progress-bar {
  background-color: #FBFFFE;
  border-radius: 2px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
}

/* line 105, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
progress[value]::-webkit-progress-value {
  background-color: #8C001A;
}

/* line 110, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
.location-search-input {
  background-color: #FBFFFE;
  border-style: solid;
  border: none;
  width: 100%;
  font-size: 3em;
  text-align: center;
  font-family: "comic-sans";
}

/* line 120, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
.search-container {
  width: 50%;
}

/* line 124, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* line 132, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
.loading-container {
  text-align: center;
}

/* line 136, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
.open-or-no {
  margin-top: 100px;
  font-family: 'doodlegum';
  font-size: 3em;
}

/* line 142, /home/vagrant/iifo/isitfuckingopen/app/assets/stylesheets/locations.scss */
.response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */




body {
	background-color: #FBFFFE;
	margin-top: 25px;
}


input {
	height: 2em;
	width: 20em;
}

p {
	font-family: 'Hashtag';
	font-size: 35px;
}


/* Typeography for application */

h1 {
	text-align: center;
	color: #8C001A;
}






/* Media Queries */

@media (max-width: 600px) {
	p {
		font-size: 25px;
	}

	.location-search-input {
		font-size: 2em;
	}
}
