/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
	background-color: #FBFFFE;
	margin-top: 25px;
}


input {
	height: 2em;
	width: 20em;
}

p {
	font-family: 'Hashtag';
	font-size: 35px;
}


/* Typeography for application */

h1 {
	text-align: center;
	color: #8C001A;
}






/* Media Queries */

@media (max-width: 600px) {
	p {
		font-size: 25px;
	}

	.location-search-input {
		font-size: 2em;
	}
}
