
<div class="main-container">

	<div>
	 <h1>Is it Fucking Open? </h1>
	</div>

	<br>

	<div class="loading-container">
		<p>Please wait while your information loads.</p>
		<%= image_tag("ajax-loader.gif", :alt => "ajax-loader") %>
     </div>

	<div class='search-container'>
	  <input class='location-search-input' placeholder="WHERE?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'WHERE?'"></input>
		<button class='location-search-submit'>FUCK!</button>
	</div>

	<div class='error-container'>
		<h2 class='error-text'></h2>
	</div>

	<div class='response-container'>
		<h2 class='location-open-data'></h2></br>
		<h2 class='location-name'></h2></br>
		<h2 class='location-address'></h2>
	</div>

</div>
