
<div class="main-container">

	<div>
		<h1>Is it Fucking Open? </h1>
	</div>

	<br>
	<progress max=100 value=0 style='width: 100%'></progress>
	<div class="loading-container">
		<p>Please wait while your information loads.</p>
		<%= image_tag("ajax-loader.gif", :alt => "ajax-loader") %>
	</div>

	<div class='search-container'>
		<div class='input-search-container'>
		  <input type="text" class='location-search-input' placeholder="Look something up. Assface." onfocus="this.placeholder = ''" onblur="this.placeholder = 'WHERE?'"></input>

			<div class="drop-down-btn">
				<i class="fa fa-angle-down" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<ul id='auto-complete-container'></ul>

	<div class='error-container'>
		<h2 class='error-text'></h2>
	</div>

	<div class='response-container'>
		<h2 class='open-or-no'></h2>
		<h2 class='location-open-data'></h2>
		<h2 class='location-close-data'></h2></br>
		<h2 class='location-name'></h2></br>
	</div>

</div>
